@use '../base/variables' as *;
@use '../base/mixins' as m;


.burger-menu {
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 8px;
  top: 100%;
  right: 0;
  background: var(--background-card-color);
  z-index: 1000;
  width: 100%;

  &.is-open {
    display: flex;
    position: fixed;
    top: 92px;
    right: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;

    @include m.laptop {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
  }

  &__list-item {
    padding: 18px 32px;
  }

  &__link {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--color-primary);
  }
}