@use '../base/variables' as *;

.custom-checkbox {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid var(--color-line);
    background-color: var(--color-base);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    padding: 5px;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: var(--tran-duration);
    transition-timing-function: ease;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 6px;
      background: url('/src/assets/icons/mark-checkbox.svg?format=webp') no-repeat center;
      background-size: contain;
      opacity: 0;
      transition: opacity 0.2s ease, transform 0.2s ease, filter 0.2s ease;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }