@use '../base/variables' as *;

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  width: 100%;
  padding: 20px;
  padding-right: 44px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  cursor: pointer;
}