@use '../base/variables' as *;
@use '../base/mixins' as m;

.js-burger {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip-path: none;

  @include m.laptop {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
  }
}