<section class="articles-block">
  <div class="articles-block__wrapper wrapper">
    <div class="articles-block__header">
      <h2 class="articles-block__title subtitle">Latest Expert</h2>
      <a href="articles.html" class="articles-block__link">
        Explore All Articles
      </a>
    </div>

    <div class="articles-block__main">
      <article class="article-item">
        <a href="article-item.html" class="article-item__link">
          <img
            src="/src/assets/images/static/binabox.png?format=webp"
            loading="lazy"
            alt="Binabox"
            class="article-item__image"
            width="408"
            height="289"
          />
          {# <div class="article-card__image" style="background-image: url(src/assets/images/static/binabox.png)"></div> #}
          <h3 class="article-item__title">Creative Blog</h3>
          <time class="article-item__date" datetime="2024-04-15">
            15 APRIL 2024
          </time>
        </a>
      </article>

      <article class="article-item">
        <a href="article-item.html" class="article-item__link">
          <img
            src="/src/assets/images/static/the_best_dishes.png?format=webp"
            loading="lazy"
            alt="Best Dishes"
            class="article-item__image"
            width="408"
            height="289"
          />
          {# <div class="article-card__image" style="background-image: url(src/assets/images/static/the_best_dishes.png)"></div> #}
          <h3 class="article-item__title">Best Dishes</h3>
          <time class="article-item__date" datetime="2024-05-05">
            5 MAY 2024
          </time>
        </a>
      </article>
    </div>
  </div>
</section>
