<section class="category-promo">
  <div class="category-promo__wrapper wrapper">
    <div class="category-promo__content">
      <h2 class="category-promo__title text-label">CATEGORIES</h2>
      <strong class="category-promo__subtitle-wrapper subtitle">
        <span class="category-promo__subtitle">Discover Assets for</span>
        <span class="category-promo__subtitle">Every Projects</span>
      </strong>
      <p class="category-promo__description">
        From fonts and icons to mockups and templates, our comprehensive
        categories ensure that you find exactly what you need to your projects.
      </p>
      <a
        class="category-promo__button button button--primary"
        href="spopping.html"
      >
        Shop Now
      </a>
    </div>
    <div class="category-promo__cards">
      {% include 'src/templates/partials/category-promo-card.njk' %}
    </div>
  </div>
</section>
