{% for blog in blogs %}
  <article class="article-card">
    <div class="article-card__image-wrapper">
      <img
        class="article-card__image"
        src="{{ blog.imagePath }}"
        loading="lazy"
        alt="{{ blog.title }}"
        width="368"
        height="272"
      />
      <span class="article-card__label">TAG</span>
    </div>

    <div class="article-card__info">
      <h3 class="article-card__title">{{ blog.title }}</h3>
      <time class="article-card__date" datetime="{{ blog.dateTime }}">
        {{ blog.date }}
      </time>
    </div>
  </article>
{% endfor %}
