<article class="category-card">
  <div class="category-card__icon-wrapper">
    <img
      class="category-card__icon"
      loading="lazy"
      alt="Templates"
      src="/src/assets/images/static/monitor.svg?format=webp"
      width="48"
      height="48"
    />
  </div>
  <h3 class="category-card__title">Templates</h3>
  <span class="category-card__text">
    For all needs<span class="dot-separator">•</span>Modern
  </span>
</article>

<article class="category-card category-card--top-decor">
  <div class="category-card__icon-wrapper">
    <img
      class="category-card__icon"
      loading="lazy"
      alt="App Icons"
      src="/src/assets/images/static/mobile-white.svg?format=webp"
      width="48"
      height="48"
    />
  </div>
  <h3 class="category-card__title">App Icons</h3>
  <span class="category-card__text category-card__text--top-decor">
    High-quality<span class="dot-separator">•</span>Elegant
  </span>
</article>

<article class="category-card category-card--bottom-decor">
  <div class="category-card__icon-wrapper">
    <img
      class="category-card__icon"
      loading="lazy"
      alt="Slides"
      src="/src/assets/images/static/presentation.svg?format=webp"
      width="48"
      height="48"
    />
  </div>
  <h3 class="category-card__title">Slides</h3>
  <span class="category-card__text">
    Pitch-ready<span class="dot-separator">•</span>Creative
  </span>
</article>

<article class="category-card">
  <div class="category-card__icon-wrapper">
    <img
      class="category-card__icon"
      loading="lazy"
      alt="Design Tools"
      src="/src/assets/images/static/illustration.svg?format=webp"
      width="48"
      height="48"
    />
  </div>
  <h3 class="category-card__title">Design Tools</h3>
  <span class="category-card__text">
    Easy to use<span class="dot-separator">•</span>Unique
  </span>
</article>
