<nav class="header__nav">
  <ul class="header__list">
    <li class="header__list-item">
      <a href="blog.html" class="header__list-link link link--secondary">
        About
      </a>
    </li>
    <li class="header__list-item">
      <a href="catalog.html" class="header__list-link link link--secondary">
        Products
      </a>
    </li>
    <li class="header__list-item">
      <a href="creators.html" class="header__list-link link link--secondary">
        Creators
      </a>
    </li>
    <li class="header__list-item">
      <a href="blog.html" class="header__list-link link link--secondary">
        Blog
      </a>
    </li>
    <li class="header__list-item">
      <a href="contact.html" class="header__list-link link link--secondary">
        Contact
      </a>
    </li>
  </ul>
</nav>
