<div class="main-banner__illustration">
  <img
    class="main-banner__img main-banner__img--third"
    src="/src/assets/images/static/main-banner-third2.png?format=webp"
    alt="Main banner"
    width="171"
    height="96"
  />
  <img
    class="main-banner__img main-banner__img--second"
    src="/src/assets/images/static/main-banner-second2.png?format=webp"
    alt="Main banner"
    width="242"
    height="140"
  />
  <img
    class="main-banner__img main-banner__img--first"
    src="/src/assets/images/static/main-banner-first2.png?format=webp"
    alt="Main banner"
    width="131"
    height="197"
  />
  {{ icon('palitra', 'main-banner__img main-banner__img--fourth') }}
  {{ icon('pen', 'main-banner__img main-banner__img--fifth') }}
</div>
