@use '../../base/variables' as *;
@use '../../base/mixins' as m;

.articles-block {
  // margin-bottom: 64px;

  @include m.laptop {
    //  margin-bottom: 120px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;

    @include m.laptop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link {
    padding: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--color-accent-link);
    white-space: nowrap;

    &::after {
          content: "";
            display: inline-block;
            margin-left: 8px;
            width: 14px;
            height: 14px;
            background: url('/src/assets/icons/chevron-right-blue.svg') no-repeat center;
            vertical-align: middle;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include m.laptop {
     flex-direction: row;
      gap: 32px;
    }
  }
}