<section class="hero-article">
  <div class="hero-article__background">
    <div class="hero-article__content-wrapper wrapper">
      <p class="hero-article__category">
        Typography
      </p>
      <h1 class="hero-article__title">
        Mastering&nbsp;the&nbsp;Art&nbsp;of Typography:
        Tips&nbsp;for&nbsp;Eye-Catching Designs&nbsp;for 2024
      </h1>
      <img
        class="hero-article__banner"
        src="/src/assets/images/static/article-banner.png?format=webp"
        alt="Typography banner"
        width="408"
        height="207"
      />
    </div>
  </div>
</section>
