<section class="catalog-hero">
  <div class="catalog-hero__container">
    <h1 class="catalog-hero__header">
      Explore&nbsp;Top
      <span class="catalog-hero__highlight">UI&nbsp;Kits</span>&nbsp;Design
      Assets
    </h1>
  </div>
</section>
