@use '../base/variables' as *;
@use '../base/mixins' as m;

*, *::after, *::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: var(--color-base);
  font-family: var(--font-base);
  font-weight: 400;
  min-width: 440px;
}

body.lock-scroll {
  overflow: hidden;
  touch-action: none;
}

h1, h2, h3, p, ul, ol {
  margin: 0;
}

.wrapper {
  padding-inline: 16px;
  max-width: 1440px;
  margin: 0 auto;

  @include m.laptop {
    padding-inline: 40px;
  }

  @include m.desk {
    padding-inline: 80px;
  }
}

.content {
  background-color: var(--color-base);
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// .side-menu--active .nav {
//   transform: translateX(0);
// }

.container {
  max-width: 1728px;
  padding-inline: 16px;
  margin-inline: auto;
}

.element {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
}

.text-label {
  color: var(--color-marina-600);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.icon {
  width: 24px;
  height: 24px;
}

.dot-separator {
  padding: 0 8px;
}

.subtitle {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: var(--subtitle-color);
  font-family: var(--font-accent);
  letter-spacing: -0.5px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  width: 100%;
  padding: 20px;
  padding-right: 44px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  cursor: pointer;
}